* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.u-visuallyHidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
img, svg {
    display: block;
    max-width: 100%;
}

html {
    font-size: 62.5%;
    font-family: 'Barlow', sans-serif;
}

h1, h2, h3 {
    font-family: 'Fraunces', serif;
}

h1 {
    font-size: 3rem;
}
header{
    background-color: #3ebfff;
    padding: 2rem;
   /* display: flex;
    justify-content: space-between;
    align-items: center;*/
}
header .Contain{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.Contain{
    max-width: 144rem;
    margin: 0 auto;
}

header svg path {
    fill: #262626;
}

.MainNavigation ul{
    display:none;
    list-style-type: none;
    /*display:flex;*/
    align-items:center;
}
/*.MainNavigation{
    justify-self: end;
}*/  

.MainNavigation ul a{
    padding:0.8rem 1.5rem;
    display: block;
    font-size: 1.8rem;
    color: #262626;
    text-decoration: none;
}
.MainNavigation ul a:hover{
    text-decoration: underline;
}
.MainNavigation ul a:focus-visible{
    outline: 1px solid #24303E;
}
.MainNavigation .Contact{
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #24303E;
    border-radius:2.8rem;
    background-color: #fff;
    padding: 1rem 2rem;
    transition: color 0.3s ease-out, background-color o.3s ease-out;

}

.MainNavigation .Contact:focus,
.MainNavigation .Contact:hover{
    color: #fff;
    background-color: rgba(255,255,255,0.5);
    text-decoration: none;
}

button{
    font: inherit; 
    background: transparent;
    border: 0;
    padding: 1rem;
}

.hero{
   /*background-image: url(assets/mobile/image-header.jpg);
    background-size:cover;
    aspect-ratio: 375/438;
    background-repeat: no-repeat;*/

    display:flex;
    color: #262626;
    background-position: bottom;
    text-transform: uppercase;
    background-color: #3cbdfe;
    word-break: break-all;
    
}

.hero .Contain{
    text-align: center;
    padding:2rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    flex-grow:1;
    background-image: url(assets/mobile/image-header.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    aspect-ratio: 375/438;


}
.hero svg{
    margin-top: 2rem;
}

.hero svg path {
    stroke: #262626;
}

@media (min-width:40em){
    button{
        display:none;
    }
    .MainNavigation ul{
        display: flex;
    }
    .hero .Contain{
        background-image: url(assets/desktop/image-header.jpg);
        aspect-ratio: 1440/600;
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        justify-content: flex-start;

    }
    
    .hero h1{
        margin-top: 2rem 0 5rem 0;
    }
    
}
@media (min-width: 50em) {
    .hero h1 {
        font-size: 5.6rem;
    }
}